{% extends 'base.html.twig' %}

{% block title %}Mon mot de passe - Shopingo{% endblock %}

{% block content %}

<h1>Modifier mon mot de passe</h1>
    <br>
    <hr>
    <a href="{{ path('app_account')}}">Retourner a mon compte</a> <br>
    {% if notification %}
    <div class="alert alert-info"> {{ notification }} </div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}